@import url('https://www.fontspace.com/galguna-font-f52799'); 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D8E9F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 20px; */
}

nav ul {
  list-style: none;
  padding-right: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
}

#empty-vaxxes{
  text-align: center;
}

#app-name{
  font-size: 70px;
  padding: 0px;
  margin-top: 50px;
  position: bottom;
  
}

.nav-button{
  border: 2px solid #4AA0D5;
  background-color: #D8E9F0;
  
}

.nav-button:hover{
  background-color: #4AA0D5;
  color: #303030;
  font-weight: bolder;
}

.logo-img{
  padding-left: 20px;
}

#landing-img-container{
  background-color: white;
  border: 4px solid #4AA0D5;
  width: 634px;
  text-align: center;
  margin-left: 150px;
  margin-top: 100px;
  float: left;
}

#landing-img{
  padding: 15px;
}

#landing-paragraph{
  width: 400px;
  text-align: left;
  margin-top: 170px;
  float: right;
  padding-left: 80px;
}

#landing-stuff{
  display: inline-block;
}

#landing-stuff p{
  font-size: larger;
}
#login-container, #signup-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  top: 50%;
  /* background-color: white;
  margin: auto;
  padding: auto; */
}

#login-container h1, #signup-container h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

#login-form, #signup-form {
  display: flex;
  flex-flow: column;
  padding: 15px;
  width: 300px;
}

#pet-thumbnail-holder{
  background-color: white;
  border: 3px solid #4AA0D5;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.pet-thumbnail{
  background-color: white;
  border: 2px solid #4AA0D5;
  text-align: center;
  padding: 15px;
  width: 290px;
  height: 360px;
  display: inline-block;
}


#my-pets{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}
#pet-name{
  margin: 0px;
}

h3{
  text-align: center;
}

.pet-info-div{
  display: inline-block;
  width: 500px;
  margin-left: 50px;
  vertical-align: top;
  margin-top: 60px;;
}

.pet-info-div ul {
  list-style: none;
}
.pet-info-div li {
  font-size: 30px;
}

.pet-info-div h2{
  font-size: 40px;
  text-align: center;
}

#edit-pet{
  text-align: center;
  
}

.button{
  background-color: #D8E9F0;
  border: 2px solid #4AA0D5;
  width: 60px;
}

.button:hover{
  background-color: #4AA0D5;
  color: #303030;
  font-weight: bolder;
}

.table-button{
  background-color: white;
  border: 2px solid #4AA0D5;
}

.table-button:hover{
  color: #303030;
  font-weight: bolder;
}

#add-vax-div{
  text-align: center;
  padding: 10px;
  background-color: white;
  width: 1133px;
  margin-left: 183px;
  margin-bottom: 15px;
} 


#pet-info{
  vertical-align: top;
}

.pet-card-image{
  background-color: white;
  width: 370px;
  height: 430px;
  text-align: center;
  border: 2px solid #4AA0D5;
  margin-left: 250px;
  margin-right: 100px;
  display: inline-block;
}
.pet-image{
  padding: 15px;
}

#vax-table{
  background-color: white;
}
#header-row{
  text-align: left;
}

.header{
  text-align: left;
}

.table-button{
  text-align: center;
}

#vax-container{
  margin: auto;
}

#table-container{
  margin: auto;
}

#vax-table{
  margin: auto;
  padding: 15px;
}

#empty-vaxxes{
  text-align: center;
}

/* #update-pet-form{
  
} */

#update-form-container{
  padding: 15px;
  margin: 15px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}