@import url('https://www.fontspace.com/galguna-font-f52799'); 

body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D8E9F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 20px; */
}

nav ul {
  list-style: none;
  padding-right: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
}

#login-container{
  background-color: white;
  padding: 15px;
  width: 380px;
  margin-left: 490px;
  border: 2px solid #4AA0D5;
}

#login-container h2 {
  text-align: center;
  margin: 5px;
}

#signup{
  background-color: white;
  padding: 15px;
  width: 380px;
  margin-left: 490px;
  border: 2px solid #4AA0D5;
}

#signup h2 {
  text-align: center;
  margin: 5px;
}


#signup-form{
  padding: 10px;
}

#call-to-login, #call-to-signup{
  text-align: center;
}

#empty-vaxxes{
  text-align: center;
}

#app-name{
  font-size: 70px;
  padding: 0px;
  margin-top: 50px;
  position: bottom;
  
}

.nav-button{
  border: 2px solid #4AA0D5;
  background-color: #D8E9F0;
  
}

.nav-button:hover{
  background-color: #4AA0D5;
  color: #303030;
  font-weight: bolder;
}

.logo-img{
  padding-left: 20px;
}

#landing-img-container{
  background-color: white;
  border: 4px solid #4AA0D5;
  width: 634px;
  text-align: center;
  margin-left: 150px;
  margin-top: 100px;
  float: left;
}

#landing-img{
  padding: 15px;
}

#landing-paragraph{
  width: 400px;
  text-align: left;
  margin-top: 170px;
  float: right;
  padding-left: 80px;
}

#landing-stuff{
  display: inline-block;
}

#landing-stuff p{
  font-size: larger;
}

#pet-thumbnail-holder{
  background-color: white;
  border: 3px solid #4AA0D5;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.pet-thumbnail{
  background-color: white;
  border: 2px solid #4AA0D5;
  text-align: center;
  padding: 15px;
  width: 290px;
  height: 360px;
  display: inline-block;
}

#welcome-message{
  margin-left: 30px;
}
#my-pets{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}
#pet-name{
  margin: 0px;
}

h3{
  text-align: center;
}

.pet-info-div{
  display: inline-block;
  width: 500px;
  margin-left: 50px;
  vertical-align: top;
  margin-top: 60px;;
}

.pet-info-div ul {
  list-style: none;
}
.pet-info-div li {
  font-size: 30px;
}

.pet-info-div h2{
  font-size: 40px;
  text-align: center;
}

#edit-pet{
  text-align: center;
  
}

.button{
  background-color: #D8E9F0;
  border: 2px solid #4AA0D5;
  width: 60px;
}

.button:hover{
  background-color: #4AA0D5;
  color: #303030;
  font-weight: bolder;
}

.table-button{
  background-color: white;
  border: 2px solid #4AA0D5;
}

.table-button:hover{
  color: #303030;
  font-weight: bolder;
}

#add-vax-div{
  text-align: center;
  padding: 10px;
  background-color: white;
  width: 1133px;
  margin-left: 183px;
  margin-bottom: 15px;
} 


#pet-info{
  vertical-align: top;
}

.pet-card-image{
  background-color: white;
  width: 370px;
  height: 430px;
  text-align: center;
  border: 2px solid #4AA0D5;
  margin-left: 250px;
  margin-right: 100px;
  display: inline-block;
}
.pet-image{
  padding: 15px;
}

#vax-table{
  background-color: white;
}
#header-row{
  text-align: left;
}

.header{
  text-align: left;
}

.table-button{
  text-align: center;
}

#vax-container{
  margin: auto;
}

#table-container{
  margin: auto;
}

#vax-table{
  margin: auto;
  padding: 15px;
}

#empty-vaxxes{
  text-align: center;
}


#update-form-container{
  padding: 15px;
  margin: 15px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}

.select-user-input{
  width: 360px;
}
.new-user-input{
  width: 350px;
}
.user-input{
  width: 350px;
}

#new-pet-form-div{
  text-align: center;
  background-color: white;
  width: 400px;
  margin-left: 550px;
  padding: 15px;
  margin-bottom: 10px;
  border: 2px solid #4AA0D5;
}
#new-pet-form-div h2{
  margin-bottom: 0px;
  text-align: center;
}
#new-pet-form{
  text-align: left;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}

#personality-field{
  width: 350px;
  height: 100px;
}

.label{
  margin-bottom: 1px;
  margin-top: 16px
}

.lable{
  margin-bottom: 2px;
  margin-top: 16px;
}

.submit-form-button{
  text-align: center;
  margin-top: 10px;
}

.form-button{
  background-color: white;
  border: 2px solid #4AA0D5;
  width: 70px;
}
.form-button:hover{
  font-weight: bolder;
}

#new-vax-content-container{
background-color: white;
padding: 15px;
width: 400px;
margin-left: 530px;
border: 2px solid #4AA0D5;
}

#new-vax-content-container h2 {
  text-align: center;
}

#new-vax-form{
  text-align: left;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}
